<!DOCTYPE html>
<html>
<head>
    <title>WEB700</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/theme.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Happy Akter</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                <li class="nav-item"><a class="nav-link" href="/htmlDemo">HTML Demo</a></li>
                <li class="nav-item"><a class="nav-link" href="/students/add">Add Student</a></li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="/students">Students</a></li>
                <li class="nav-item"><a class="nav-link" href="/tas">Teaching Assistants</a></li>
                <li class="nav-item"><a class="nav-link" href="/courses">Courses</a></li>
            </ul>
        </div>
    </nav>

    <div class="container mt-4">
        <h1>Welcome to WEB700 for Assignment 4</h1>
        <hr>
        <p>Welcome to my website, where I demonstrate HTML5 principles, techniques, and Routing in Express.</p>
        <h2>Available Data Sources</h2>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/students">All Students</a></li>
            <li><a href="/htmlDemo">HTML Demo</a></li>
            <li><a href="students?course=3">Students by Course</a></li>
            <li><a href="/student/1">A Single Student</a></li>
            <li><a href="/tas">All Teaching Assistants</a></li>
            <li><a href="/courses">All Courses</a></li>
            <li><a href="/students/add">Add Student</a></li>
        </ul>
        <p>
            This site utilizes HTML5, a markup language used for structuring and presenting content on the web.
            HTML5 includes new features and improvements, making web development more efficient and interactive.
            It offers better support for multimedia, improved accessibility, and new APIs for building modern applications.
        </p>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
